// Primary Colors
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

// Neutral Colors
$transparent-white: hsla(0, 0%, 100%, 0.75); // paragraphs
$very-light-gray: hsl(0, 0%, 95%); // background, headings, buttons

// Font Families
$ff-Big-Shoulders-Display: "Big Shoulders Display", sans-serif;
$ff-Lexend-Deca: "Lexend Deca", sans-serif;

// Font Weights
$fw-400: 400;
$fw-700: 700;
